[Unit]
Description=mobizon to prontosms

[Service]
Type=simple
ExecStart=/usr/local/tilda2iiko/mobizon.py
User=www-data


[Install]
WantedBy=multi-user.target
