[Unit]
Description=tilda
Requires=network.target
After=network.target

[Service]
ExecStart=/usr/local/tilda2iiko/tilda.py
User=www-data
Restart=always
RestartSec=1


[Install]
WantedBy=multi-user.target
